.card{
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__side{
        background-color: red;
        color:#fff;
        font-size: 2rem;
        height: 50rem;
        transition: all .8s;
        &--front{
            background-color: red;
            // opacity: 1;
        }
        &--back{
            background-color: greenyellow;
            // opacity: 0;
            transform: rotateY(180deg);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;

        }
    }

    &:hover &__side{
        transform: rotateY(180deg);
        &--front{
            // transform: rotateY(180deg);
        }
        &--back{

            transform: rotateY(0deg);

        }
    }
}