.composition{
    position: relative;
    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        &--p1{
            top: -2rem;
            left: 0;
        }
        &--p2{
            top: 2rem;
            right: 0;
        }
        &--p3{
            bottom: 0;
            
        }
    }
}